/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
.header1{
  width:100%;
  height:20%;
  position:absolute;
   background-size: cover;
	background-attachment: fixed;
  z-index: -3;
}

/* login register */


#login-page {
   width: 400px;
	overflow: hidden;
	transform: translateX(7%);
}


#register {
   
	overflow: hidden;
	
}
/* register */



.col.s6 > .btn {
   width: 100%;
	overflow: hidden;
}
.gender-male,.gender-female {
  display: inline-block;
}
.gender-female {
  margin-left: 35px;
}
radio:required {
  border-color: red;
}

.row {margin-bottom: 10px;}

.ngl {
  position: absolute;
  top: -20px;
  right: -20px;
}



